In [1]:
#Declare an Float value and store it in a variable.Check the type and print the id of the same.

a = (3.0)

print(a,type(a))

3.0 <class 'float'>

In [2]:
#Arithmetic Operations on Float.
#Take two different Float values.Store them in two different variables.
#Do below operations on them:-

#Find sum of both numbers
#Find difference between them
#Find the product of both numbers.
#Find value after dividing first num with second number
#Find the remainder after dividing first number with second number
#Find the quotient after dividing first number with second number
#Find the result of the first num to the power of the second number.


a = 30.4
b = 10.2

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

40.599999999999994
20.2
310.08
2.980392156862745
10.0
2.0
1334475340043802.8

In [3]:
#Comparison Operators on Float.
#Take two different Float values.Store them in two different variables.
#Do below operations on them:-Compare se two numbers with below operator:-

#Greater than, '>'
#Smaller than, '<'
#Greater than or equal to, '>='
#Less than or equal to, '<='
#Observe their output(return type should be boolean)

a = 30.4
b = 10.2

print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

True
False
True
False

In [4]:
#Equality Operator
#Take two different Float values.Store them in two different variables.
#Equate them using equality operators (==, !=)
#Observe the output(return type should be boolean)

a = 30.4
b = 10.2

print(a==b)
print(a!=b)

False
True

In [8]:
#Logical operators
#Observe the output of below code
#Cross check the output manually

##Result will be A if A is False else B,in Float 0 is false and rest all are true
print(10.20 and 20.30)

#First value is false so first value will be the output
print(0.0 and 20.30)

#First value is True and second value is False the output will be 0.0
print(20.30 and 0.0)

##First value is false so first value will be the output
print(0.0 and 0.0)

#Result will be A if A is True else B,in Float 0.0 is false and rest all are true
print(10.20 or 20.30)
print(0.0 or 20.30) #Goes to till second and second is true
print(20.30 or 0.0) #First is True so first value is
print(0.0 or 0.0) #Goes to till second and second is also
print(not 10.20) #-Not of true is false->Output is False
print(not 0.0) #Not of false is True>Output is True

20.3
0.0
0.0
0.0
10.2
20.3
20.3
0.0
False
True

In [11]:
#What is the output of expression inside print statement. Cross check before running the program.

a = 10.20
b = 10.20

print(a is b) #This will be False. Although the values of a and b are the same,But two different objects in memory.
print(a is not b) #This will be True
print(id(a))
print(id(b))

False
True
2329819418448
2329819419088

In [12]:
a = 10.5
b = 10.5
c = a

print(id(a))
print(id(b))
print(id(c))

#id(a) and id(b) may be different,but id(c) will be the same as id(a), 
#as both a and c reference the same float object in memory.

2329819415408
2329819419152
2329819415408

In [ ]:
#Bitwise operation is not applicable between instances of float.

#Bitwise operations are meaningful and applicable only to integer data types

In [13]:
#Membership operation in, not in are two membership operators and it returns boolean value

print('2.7' in 'Python2.7.8') #True
print(10.20 in [10,10.20,10+20j,'Python']) #True
print(10.20 in (10,10.20,10+20j,'Python')) # True
print(20.30 in {1,20.30,30+40j}) # True
print(2.3 in {1:100, 2.3:200, 30+40j:300}) # True
print(10 in range(20)) # True

#The membership operators in and not in return a boolean value,
#indicating whether the left operand is present in the right operand

True
True
True
True
True
True